# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz

# Virtual environment
venv/
.venv/

# prepare_data.py download cache and default image folders
python/.download_cache/
python/data/
